In [2]:
import pandas as pd


df = pd.read_csv("LinkNYC_Kiosk_Status_12_6.csv",  na_values=['UNKNOWN', 'NaN'])
df.head()

,GENERATED ON,SITE ID,STATUS,Planned Kiosk Type,PPT ID,ADDRESS,CITY,STATE,POSTCODE,BOROUGH,...,BIN,INSTALLATION DATE,ACTIVATION DATE,WIFI STATUS,WIFI LAST TS,TABLET STATUS,TABLET LAST TS,PHONE STATUS,DIALER LAST TS,LOCATION
0,2024-12-06 21:00:00.472,bk-02-126433,Live,Link 1.0,126433,395 FLATBUSH AVENUE EXTENSION,Brooklyn,NY,11201,Brooklyn,...,3058594.0,2017-02-12 19:00:00.000,2017-07-24 20:00:00.000,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,"(40.689026, -73.980862)"
1,2024-09-26 11:00:00.475,bx-06-146096,Repair,Link 1.0,146096,4201 3 AVENUE,Bronx,NY,10457,Bronx,...,2009606.0,2018-06-19 20:00:00.000,2018-07-25 20:00:00.000,up,2024-09-26 11:00:00.475,NaN,NaN,NaN,NaN,"(40.84647676, -73.89639316)"
2,2024-03-13 09:00:00.978,bk-01-gf34839,Installed,Link 5G,GF34839,135 HAVEMEYER STREET,Brooklyn,NY,11211,Brooklyn,...,NaN,2023-05-03 20:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.712112, -73.9571476)"
3,2024-05-24 09:00:00.683,bk-16-gf34731,Installed,Link 1.0,GF34731,121 LIBERTY AVENUE,Brooklyn,NY,11212,Brooklyn,...,3405082.0,2024-05-12 20:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.6732003, -73.9058603)"
4,2024-01-24 10:00:00.747,mn-12-gf0841,Installed,Link 1.0,GF0841,4119 BROADWAY,Manhattan,NY,10033,Manhattan,...,NaN,2023-12-03 19:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.8455391, -73.9388995)"

In [3]:
df['SITE ID'].value_counts()

SITE ID
bk-02-126433    1
mn-08-121042    1
mn-08-121021    1
mn-08-121023    1
mn-08-121031    1
               ..
mn-03-128751    1
mn-03-123820    1
mn-03-123816    1
mn-03-123814    1
si-03-125464    1
Name: count, Length: 2270, dtype: int64

In [4]:
df['ADDRESS'].value_counts()

ADDRESS
1626 AMSTERDAM AVENUE    2
184 CONOVER STREET       2
73-01 25 AVENUE          2
132 FEATHERBED LANE      2
85-15 258 STREET         2
                        ..
747 10 AVENUE            1
829 10 AVENUE            1
703 10 AVENUE            1
653 10 AVENUE            1
285 MILL ROAD            1
Name: count, Length: 2199, dtype: int64

In [5]:
df['TABLET STATUS'].value_counts()

TABLET STATUS
up      2076
down      60
Name: count, dtype: int64

In [6]:
df['PHONE STATUS'].value_counts()

PHONE STATUS
up      2072
down      64
Name: count, dtype: int64

In [7]:
df['WIFI STATUS'].value_counts()

WIFI STATUS
up    2180
Name: count, dtype: int64

In [8]:
df['STATUS'].value_counts

<bound method IndexOpsMixin.value_counts of 0            Live
1          Repair
2       Installed
3       Installed
4       Installed
          ...
2265         Live
2266         Live
2267         Live
2268         Live
2269         Live
Name: STATUS, Length: 2270, dtype: object>

In [9]:
df['BOROUGH'].value_counts()

BOROUGH
Manhattan        1221
Queens            405
Brooklyn          372
Bronx             222
Staten Island      50
Name: count, dtype: int64

In [10]:
df.groupby('BOROUGH')['STATUS'].value_counts()

BOROUGH        STATUS
Bronx          Live           207
               Installed        9
               Repair           5
               Activation       1
Brooklyn       Live           333
               Installed       28
               Repair          11
Manhattan      Live          1194
               Repair          24
               Installed        3
Queens         Live           355
               Installed       43
               Activation       4
               Repair           3
Staten Island  Live            47
               Repair           3
Name: count, dtype: int64

In [11]:
df['LOCATION'].value_counts()

LOCATION
(40.6489613, -73.9641039)      2
(40.7713869, -73.8467208)      2
(40.7565604, -73.8768487)      2
(40.771118, -73.8437685)       2
(40.7433498, -73.7089499)      2
                              ..
(40.76840586, -73.98921452)    1
(40.76527687, -73.99149319)    1
(40.76778999, -73.98965898)    1
(40.76338512, -73.99286971)    1
(40.56175506, -74.11216061)    1
Name: count, Length: 2214, dtype: int64

In [12]:
df[df['ADDRESS'].str.len() > 2]

,GENERATED ON,SITE ID,STATUS,Planned Kiosk Type,PPT ID,ADDRESS,CITY,STATE,POSTCODE,BOROUGH,...,BIN,INSTALLATION DATE,ACTIVATION DATE,WIFI STATUS,WIFI LAST TS,TABLET STATUS,TABLET LAST TS,PHONE STATUS,DIALER LAST TS,LOCATION
0,2024-12-06 21:00:00.472,bk-02-126433,Live,Link 1.0,126433,395 FLATBUSH AVENUE EXTENSION,Brooklyn,NY,11201,Brooklyn,...,3058594.0,2017-02-12 19:00:00.000,2017-07-24 20:00:00.000,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,"(40.689026, -73.980862)"
1,2024-09-26 11:00:00.475,bx-06-146096,Repair,Link 1.0,146096,4201 3 AVENUE,Bronx,NY,10457,Bronx,...,2009606.0,2018-06-19 20:00:00.000,2018-07-25 20:00:00.000,up,2024-09-26 11:00:00.475,NaN,NaN,NaN,NaN,"(40.84647676, -73.89639316)"
2,2024-03-13 09:00:00.978,bk-01-gf34839,Installed,Link 5G,GF34839,135 HAVEMEYER STREET,Brooklyn,NY,11211,Brooklyn,...,NaN,2023-05-03 20:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.712112, -73.9571476)"
3,2024-05-24 09:00:00.683,bk-16-gf34731,Installed,Link 1.0,GF34731,121 LIBERTY AVENUE,Brooklyn,NY,11212,Brooklyn,...,3405082.0,2024-05-12 20:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.6732003, -73.9058603)"
4,2024-01-24 10:00:00.747,mn-12-gf0841,Installed,Link 1.0,GF0841,4119 BROADWAY,Manhattan,NY,10033,Manhattan,...,NaN,2023-12-03 19:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.8455391, -73.9388995)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,2024-12-06 21:00:00.472,si-02-145835,Live,Link 1.0,145835,1630 RICHMOND ROAD,Staten Island,NY,10304,Staten Island,...,5050552.0,2017-04-09 20:00:00.000,2017-05-24 20:00:00.000,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,"(40.58990771, -74.10090436)"
2266,2024-12-06 21:00:00.472,si-02-146098,Live,Link 1.0,146098,1660 RICHMOND ROAD,Staten Island,NY,10304,Staten Island,...,5050551.0,2018-06-28 20:00:00.000,2018-07-18 20:00:00.000,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,"(40.58948831, -74.10127071)"
2267,2024-12-06 21:00:00.472,si-02-146099,Live,Link 1.0,146099,2154 HYLAN BOULEVARD,Staten Island,NY,10306,Staten Island,...,5053558.0,2018-06-28 20:00:00.000,2018-07-18 20:00:00.000,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,"(40.57739083, -74.10267054)"
2268,2024-12-06 21:00:00.472,si-02-146100,Live,Link 1.0,146100,1617 RICHMOND ROAD,Staten Island,NY,10304,Staten Island,...,5022895.0,2018-07-11 20:00:00.000,2018-07-18 20:00:00.000,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,"(40.59045311, -74.10092195)"
2269,2024-12-06 21:00:00.472,si-03-125464,Live,Link 1.0,125464,285 MILL ROAD,Staten Island,NY,10306,Staten Island,...,5105550.0,2016-12-19 19:00:00.000,2017-01-24 19:00:00.000,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,up,2024-12-06 21:00:00.472,"(40.56175506, -74.11216061)"

In [13]:
duplicates = df.duplicated(subset=['ADDRESS'], keep=False)
duplicate_rows = df[duplicates]

print(duplicate_rows)

                 GENERATED ON        SITE ID     STATUS Planned Kiosk Type  \
2     2024-03-13 09:00:00.978  bk-01-gf34839  Installed            Link 5G
3     2024-05-24 09:00:00.683  bk-16-gf34731  Installed           Link 1.0
4     2024-01-24 10:00:00.747   mn-12-gf0841  Installed           Link 1.0
5     2024-04-25 10:00:00.917  bk-16-gf34727  Installed           Link 1.0
6     2024-03-21 09:00:00.975  qu-03-gf44729  Installed            Link 5G
...                       ...            ...        ...                ...
2219  2024-12-06 21:00:00.472   qu-13-160017  Installed            Link 5G
2220  2024-12-06 21:00:00.472   qu-13-160059  Installed            Link 5G
2221  2024-12-06 21:00:00.472   qu-13-160063  Installed            Link 5G
2239  2024-12-06 21:00:00.472   si-02-125467       Live           Link 1.0
2267  2024-12-06 21:00:00.472   si-02-146099       Live           Link 1.0

       PPT ID                   ADDRESS           CITY STATE  POSTCODE  \
2     GF34839      135 HAVEMEYER STREET       Brooklyn    NY     11211
3     GF34731        121 LIBERTY AVENUE       Brooklyn    NY     11212
4      GF0841             4119 BROADWAY      Manhattan    NY     10033
5     GF34727         656 HOWARD AVENUE       Brooklyn    NY     11212
6     GF44729  81-20 NORTHERN BOULEVARD         Queens    NY     11372
...       ...                       ...            ...   ...       ...
2219   160017    260-03 HILLSIDE AVENUE         Queens    NY     11004
2220   160059    256-17 HILLSIDE AVENUE         Queens    NY     11004
2221   160063          85-15 258 STREET         Queens    NY     11001
2239   125467      2154 HYLAN BOULEVARD  Staten Island    NY     10306
2267   146099      2154 HYLAN BOULEVARD  Staten Island    NY     10306

            BOROUGH  ...        BIN        INSTALLATION DATE  \
2          Brooklyn  ...        NaN  2023-05-03 20:00:00.000
3          Brooklyn  ...  3405082.0  2024-05-12 20:00:00.000
4         Manhattan  ...        NaN  2023-12-03 19:00:00.000
5          Brooklyn  ...  3080885.0  2024-04-01 20:00:00.000
6            Queens  ...        NaN  2024-02-05 19:00:00.000
...             ...  ...        ...                      ...
2219         Queens  ...  4179429.0  2024-02-29 19:00:00.000
2220         Queens  ...  4179294.0  2024-02-04 19:00:00.000
2221         Queens  ...  4179830.0  2024-01-30 19:00:00.000
2239  Staten Island  ...  5053558.0  2017-01-30 19:00:00.000
2267  Staten Island  ...  5053558.0  2018-06-28 20:00:00.000

              ACTIVATION DATE WIFI STATUS             WIFI LAST TS  \
2                         NaN         NaN                      NaN
3                         NaN         NaN                      NaN
4                         NaN         NaN                      NaN
5                         NaN         NaN                      NaN
6                         NaN         NaN                      NaN
...                       ...         ...                      ...
2219                      NaN         NaN                      NaN
2220                      NaN         NaN                      NaN
2221                      NaN         NaN                      NaN
2239  2017-02-21 19:00:00.000          up  2024-12-06 21:00:00.472
2267  2018-07-18 20:00:00.000          up  2024-12-06 21:00:00.472

      TABLET STATUS           TABLET LAST TS PHONE STATUS  \
2               NaN                      NaN          NaN
3               NaN                      NaN          NaN
4               NaN                      NaN          NaN
5               NaN                      NaN          NaN
6               NaN                      NaN          NaN
...             ...                      ...          ...
2219            NaN                      NaN          NaN
2220            NaN                      NaN          NaN
2221            NaN                      NaN          NaN
2239             up  2024-12-06 21:00:00.472           up
2267             up  2024-12-06 21:00:00.472           up

               DIALER LAST TS                     LOCATION
2                         NaN     (40.712112, -73.9571476)
3                         NaN    (40.6732003, -73.9058603)
4                         NaN    (40.8455391, -73.9388995)
5                         NaN    (40.6658969, -73.9196083)
6                         NaN    (40.7554275, -73.8855911)
...                       ...                          ...
2219                      NaN     (40.737472, -73.7081442)
2220                      NaN     (40.736811, -73.7112252)
2221                      NaN    (40.7349687, -73.7085903)
2239  2024-12-06 21:00:00.472       (40.577771, -74.10231)
2267  2024-12-06 21:00:00.472  (40.57739083, -74.10267054)

[142 rows x 30 columns]

In [156]:
address_dataset = duplicate_rows[['ADDRESS']].copy()

address_dataset.loc[:, 'CITY'] = duplicate_rows['CITY']

address_dataset.loc[:, 'STATUS'] = duplicate_rows['STATUS']

address_dataset.to_csv('address_with_city_and_status_dataset.csv', index=False)

In [157]:

address_dataset = duplicate_rows[['ADDRESS', 'CITY', 'STATUS', 'GENERATED ON']].copy()


address_dataset.to_csv('address_with_city_status_and_generated_on.csv', index=False)

In [15]:
address_dataset = duplicate_rows[['ADDRESS']]

address_dataset.to_csv('address_dataset.csv', index=False)

In [155]:
address_dataset[address_dataset['ADDRESS']== '2154 HYLAN BOULEVARD']

                   ADDRESS           CITY STATUS             GENERATED ON
2239  2154 HYLAN BOULEVARD  Staten Island   Live  2024-12-06 21:00:00.472
2267  2154 HYLAN BOULEVARD  Staten Island   Live  2024-12-06 21:00:00.472